header{
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    
    @media(max-width: 760px){
      height: 25vh;
      flex-direction: column;
      justify-content: space-evenly;
    }
}

.boxlogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    width: 26vw;  

    h1{
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 700;
    }

    @media(max-width: 1192px){
      width: 28vw;

      h1{
        font-size: 2vw;
      }

      img{
        width: 5vw;
      }
    }

    @media(max-width: 760px){
      width: 50%;
      h1{
        font-size: 25px;
      }

      img{
        width: 60px;
      }
    }

    
}

.boxMenu{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 10vh;
    justify-content: space-evenly;
    

    a{
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
    }

    @media(max-width: 760px){
      width: 80vw;
      justify-content: space-evenly;
      a{
        font-size: 2.8vw;
      }
    }

    @media(max-width:560px){
      a{
        font-size: 3.5vw;
      }
    }

}

.barraDeBusca {
    border: solid #fff;
    border-radius: 20px;
    margin-right: 15px;
    width: 17vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    input {
      background-color: transparent;
      border: none;
      width: 12vw;
      height: 5vh;
      font-size: 15px;
      padding-left: 6px;
      outline: none;
      &::placeholder {
        color: #fff;

      }
  
      @media(max-width: 1192px){

          &::placeholder{
            font-size: 1vw;
          }
       
      }
      
    }
  
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    @media(max-width: 760px){
      
      display: none;
    
  }
}
    
    


